input.btn:hover{
    background-color:#4cbb9a!important;
}

a.btn:hover{
    background-color: #4cbb9a!important;
}

b.btn:hover{
    background-color: #335870!important;
}

button.btn:hover{
    background-color: #4cbb9a!important;
}

i.btn:hover{
    background-color: #335870!important;
}